@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0C0722;
  background: #eee;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the handle */
  border-radius: 10px; /* round the corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1D173B; /* color of the handle on hover */
}